registry=https://registry.yarnpkg.com/
//npm.pkg.github.com/:_authToken=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
@shunueda:registry=https://npm.pkg.github.com/
@lehigh-oracle-did23:registry=https://npm.pkg.github.com
always-auth=true